<div class="container">
    
  <table class="table table-bordered">
      <thead>
          <tr class="info">  
              
                  <th>
                      <label>Name</label>
                      <input type="text" ng-model="item.name"></th>

                  <th>
                      <label>Age</label>
                      <input type="number" ng-model="item.age">
                  </th>

                  <th>
                       <label>email</label>
                      <input type="text" ng-model="item.email">
                  </th>

                  <th>
                      <button class="btn btn-primary" ng-click="addItem()">Add</button>
                  </th>
              
              <th>
                <button class="btn btn-success" ng-click="updateItem()">Update</button>
              </th>
          
          
          </tr>
      
      
      </thead>
        <tbody >
            
<!--
              <tr ng-repeat="item in items" class="fill">
                 <td>{{item.name}}</td>
                  <td>{{item.age}}</td>
                  <td>{{item.email}}</td>
                  <td><button class="btn btn-danger" ng-click="editItem(item)">Edit</button></td>
                  <td><button class="btn btn-warning" ng-click="deleteItem(item)">Delete</button></td>
            
               </tr>
-->
             
            <contacts ng-repeat="item in items" item-obj="item" edit-item-obj="editItem(contactId)"
                      delete-item-obj="deleteItem(contactId)"></contacts>
         
      
      </tbody>

    
    </table>
     

</div>